<!DOCTYPE html>
{% load i18n %}
{% get_language_info for LANGUAGE_CODE as lang %}
<html lang="{{ lang.code }}">
<head>
  <title>
    {% block title %}
    {% trans "Shakhak" %}
    {% endblock title %}
  </title>

  <link href="{{ MEDIA_URL }}images/fav.png" type="image/png" rel="icon">
  {% if lang.bidi %}
  {% else %}
  {% endif %}

  {% if debug %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/direction.js" id="direction" data-dir="{% if lang.bidi %}rtl{% else %}ltr{% endif %}"></script>
  <link rel="stylesheet/less" type="text/css" href="{{ MEDIA_URL }}css/src/style.less" id="less_init" data-env="development" data-async="false" data-rootpath="{{ MEDIA_URL}}lib/Riuma/less/"/>
    {% include "vanda/less/less.html" %}

  {% else %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" />
  {% endif %}
</head>
<body>

  {% block header %}
  <header>
    <div class="container-fluid fixed">
      <nav class="row-fluid">
	<ul class="span6">
	  <li class="brand">{% trans "Shakhak" %}</li>
	</ul>
	<ul class="span6 pull-right">
	  {{ request.user }}
	  {% if request.user.is_authenticated %}
	  <li><a href="{% url "dashboard" %}#/new/advertise/">{% trans "New Advertise" %}</a></li>
	  <li><a href="{% url "logout" %}">{% trans "Logout" %}</a></li>
	  {% else %}
	  <li><a href="/auth/login/">{% trans "Login" %}</a></li>
	  {% endif %}

	</ul>
      </nav>
    </div>
  </header>
  {% endblock header %}

  {% block body %}

  {% endblock body %}
</body>
</html>
